<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Staff Management</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Add staff</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="" action="" method="post" novalidate>
                            <div class="staffEmailInput">
                                <label>Enter staff's email</label>
                                <div class="field item form-group">
                                    <input class="form-control" type="email" id="staffEmail" class="form-control" placeholder="Enter email">
                                        <div class="input-group-append">
                                    <button id="loadStaff" class="btn btn-primary btn-addStaff"> Add</button>
                                </div>
                            </div>
                                
                            </div>
                            <div class="staffEmailInput">
                                <div class="field item form-group">
                                    <input class="form-control" id="showStaff" type="text" id="text" disabled class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-addStaff" id="addStaff-reset">Reset</button>
                                    </div>
                                </div> 
                            </div>
                            <div class="staffEmailInput">
                                <label> Choose department </label>
                                <div class="field item form-group">
                                    <select class="form-control">
                                        {{#each departments}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' class="btn btn-primary">Submit</button>
                                        <button type='reset' class="btn btn-success">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>